.simple-button {
  border-radius: 20px;
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
  background: -webkit-linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-secondary-grad)
  );
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-secondary-grad)
  );
  color: var(--color-text-secondary);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.simple-button.ghost {
  background: transparent;
  border-color: var(--color-text-secondary);
}
