@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.theme-light-pinkfire {
  --color-text-primary: rgb(73, 73, 73);
  --color-text-secondary: rgb(255, 255, 255);
  --color-text-placeholder: rgb(153, 153, 153);
  --color-primary-bg: #f1eeee;
  --color-primary: #ffffff;
  --color-secondary: #ff4b2b;
  --color-secondary-grad: #ff416c;
  --color-input: #eee;
  --color-text-link: #333;
}

.theme-light-skynight {
  --color-text-primary: rgb(73, 73, 73);
  --color-text-secondary: rgb(255, 255, 255);
  --color-text-placeholder: rgb(153, 153, 153);
  --color-primary-bg: #f1eeee;
  --color-primary: #ffffff;
  --color-secondary: #242a49;
  --color-secondary-grad: #457d80;
  --color-input: #eee;
  --color-text-link: #333;
}
.theme-dark-skynight {
  --color-text-primary: rgb(248, 248, 248);
  --color-text-secondary: rgb(73, 73, 73);
  --color-text-placeholder: rgb(124, 124, 124);
  --color-primary-bg: #252836;
  --color-primary: rgb(44, 49, 73);
  --color-secondary: #ffffff;
  --color-secondary-grad: #f2fafa;
  --color-input: rgb(89, 95, 122);
  --color-text-link: rgb(211, 211, 211);
}
.app {
  background: var(--color-primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--color-text-primary);
}
body {
  margin: 0;
}
