@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.theme-light {
  --color-text-primary: rgb(73, 73, 73);
  --color-text-secondary: rgb(255, 255, 255);
  --color-primary-bg: #f1eeee;
  --color-primary: #ffffff;
  --color-secondary: #ff4b2b;
  --color-secondary-grad: #ff416c;
  --color-input: #eee;
  --color-text-link: #333;
}
.app {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--color-text-primary);
}
body {
  margin: 0;
}
